* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
    font-family: 'TitanOne';
    background: url(img/fondo.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

@font-face {
    font-family: 'TitanOne';
    src: url(../completa/fuente/TitanOne-Regular.ttf);
}

/* Estilos del modal */
.modal-content {
    background-color: #fff;
    border-radius: 15px;
    border: none;
}

.modal-header {
    border-bottom: 2px solid #f0f0f0;
    padding: 1.5rem;
}

.modal-title {
    font-family: 'TitanOne';
    color: #3f1c05;
    font-size: 2rem;
}

.modal-body {
    padding: 1.5rem;
}

/* Estilos de las tarjetas de categoría */
.category-card {
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%;
    background-image: url(img/tabla.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(68, 43, 11, 0.829);
}

.img-categoria {
    width: auto;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: .5rem;
    margin-top: 10px;
}

.nombre-categoria {
    color: #3f1c05;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
}

.game-header {
    text-align: center;
    margin-bottom: 1rem;
}

.game-header h1 {
    color: #393939;
    font-size: 1.8rem;
}

.game-content {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.game-area {
    width: 555px;
    height: 585px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.game-area img {
    width: 100%;
    height: auto;
}

.options-container {
    width: 400px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.7em;
    padding-bottom: 1rem;
    overflow-y: visible;
    max-height: 280px;
    overflow-x: visible;
    min-height: 322px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flotante2 {
    width: 100%;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    bottom: -56%;
}

.draggable {
    padding: 0.2rem;
    margin: 0.5rem 0;
    color: white;
    cursor: move;
    user-select: none;
    text-align: center;
    font-weight: 500;
    transition: transform 0.2s, box-shadow 0.2s;
}

.item {
    border: 2px solid #573b15;
    background-color: #cf9568;
    padding: 0.3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.85rem;
    color: #452e13;
    border-radius: 5px;
}

.draggable:hover {
    transform: translateY(-2px);
}

.draggable.dragging {
    opacity: 0.5;
    transform: scale(1.05);
}

.target-point {
    width: 15px;
    height: 15px;
    background-color: rgba(68, 127, 255, 0.8);
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background-color 0.3s;
}

.correct {
    width: 15px;
    height: 15px;
    background-color: rgba(68, 127, 255, 0.8);
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgb(76, 175, 79);
}

.target-point.incorrect {
    background-color: rgb(255, 68, 68);
    animation: shake 0.5s;
}

@keyframes shake {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(5deg);
    }
}

.menu {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    padding: 1rem;
    position: absolute;
    top: -3%;
    right: 3rem;
    color: #573b15;
    z-index: 1;
    transition: all 0.3s ease;
    animation: flotante 5s infinite;
}

@keyframes flotante {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.cartel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -0;
    pointer-events: none;
}

.flotante {
    width: 130%;
    height: 50%;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    bottom: -53%;
}

.menu button {
    width: 80%;
    margin-bottom: 0.5rem;
    border: 2px solid #529df3;
}


#categoryTitle {
    padding: 2rem;
    margin-bottom: -4px;
}

.title_imagen {
    width: 100%;
    height: 105%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 0px;
}

.cloud {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
}

.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.cloud::before {
    width: 50%;
    height: 100%;
    top: -50%;
    left: 25%;
}

.cloud::after {
    width: 30%;
    height: 60%;
    top: -30%;
    right: 25%;
}

@keyframes moveCloudleft {
    from {
        left: 100%;
    }

    to {
        left: -100px;
    }
}

@keyframes moveCloudright {
    from {
        right: 100%;
    }

    to {
        right: -100px;
    }
}

.panControls {
    position: absolute;
    top: 73%;
    right: 3rem;
    z-index: 1;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panControlsContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.panControlsContainer div {
    width: 60px;
    height: 60px;
    border: none;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    transition: transform 0.5s;
}

.panControlsContainer div:hover {
    transform: scale(1.1);
    cursor: pointer;
}


#panUp {
    background-image: url(img/arr.png);
    left: 36%;
    top: -9%;
}

#panLeft {
    background-image: url(img/izq.png);
    top: 13%;
    left: 9%;
}

#panRight {
    background-image: url(img/der.png);
    left: 64%;
    top: 13%;
}

#panDown {
    background-image: url(img/aba.png);
    left: 36%;
    top: 37%;
}

.zoomControls {
    position: absolute;
    top: 90%;
    right: 0.5rem;
    width: 85px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s;
    background-color: #f9cfac9c;
    padding: 6px;
    border: 4px solid #613910a6;
    border-radius: 16px;
}

.zoomControls div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.zoomControls div {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: transform 0.5s;
}

.zoomIn {
    background-image: url(img/zoom_mas.png);
}

.zoomOut {
    background-image: url(img/zoom_menos.png);
}

.contador {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #ffff;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-text-stroke: 0.02rem #0073b7;
    z-index: 1;
    pointer-events: none;
}

.nivel-container {
    max-width: 200px;
    width: 100%;
    height: 91px;
    background-image: url(img/opcion.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 35px;
    color: #3f1c05;
    font-size: 1.5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.5s;
    cursor: pointer;
}

.nivel-container:hover {
    transform: scale(1.05);
}

.nivel-container p {
    margin-bottom: 0;
}

.nivel-imagen {
    width: 100%;
    height: 86px;
    position: absolute;
    top: -55px;
    left: 0;
    filter: drop-shadow(0 0 10px rgba(65, 41, 7, 0.747));
}
