table {
    border-collapse: collapse;
    position: relative;
    background-color: #000000ab;
}

#mapa {
    opacity: 1;
    transition: opacity 1s linear;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
}



tr {
    margin: 0;
    padding: 0;
}

.wall {
    background-image: url(ladrillo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.player {
    position: absolute;
    width: 33px;
    height: 33px;
    transition: top .4s linear, left .4s linear, transform .3s linear;
}

.dragon {
    position: absolute;
    width: 33px;
    height: 33px;
    transition: top 1.5s linear, left 1.5s linear;
}

.game-container {
    position: relative;
    display: inline-block;
}

.state {
    background-image: url(pregunta.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    filter: brightness(0.2);
}

.fondo {
    background-image: url(finall.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.controles {
    position: relative;
    width: 170px;
    height: 170px;
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 17px;
}


.subir {
    background-image: url(a.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bajar {
    background-image: url(b.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.izquierda {
    background-image: url(i.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.derecha {
    background-image: url(d.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.subir:hover, .bajar:hover, .izquierda:hover, .derecha:hover {
    cursor: pointer;
}

.replay {
    background-image: url(replay.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease-in-out;
}

.pausa {
    background-image: url(pausa.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease-in-out;
}

.play {
    background-image: url(play.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease-in-out;
}

.play:hover, .replay:hover, .pausa:hover {
    transform: scale(1.1);
    cursor: pointer;
}

body {
    background-image: url(fondo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    font-family: 'DS-Digital';
}


.controles2 {
    position: relative;
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.479);
    margin-top: 50px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    padding: 10px;
}

#timer {
    background-image: url(timer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 240px;
    height: 218px;
    margin-bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 30px;
}


#timer .borde_letra {
    color: rgb(36, 36, 36);
    font-size: 30px;
    font-family: 'DS-Digital';
    font-weight: bold;
}

#marcador1, #marcador2 {
    font-size: 27px;
    font-family: 'DS-Digital';
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#marcador1 {
    color: rgb(5, 48, 18);
    background-image: url(correcto.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#marcador2 {
    color: rgb(68, 12, 12);
    background-image: url(incorrecto.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-left: 10px;
}


@font-face {
    font-family: 'DS-Digital';
    src: url('../ds_digital/DS-DIGI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pregunta {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100vw;
}


.pregunta_animacion {
    transition: top 4s linear, left 4s linear, background-color 1s linear;
}


.contenedor_respuesta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 75%;
    position: absolute;
    top: -131%;
    right: 3px;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 10px;
}

#pregunta_text {
    color: rgb(32, 32, 32);
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.card_nivel {
    width: 182px;
    height: 140px;
    transition: transform 0.3s ease-in-out;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.card_nivel:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.col-md-6 {
    margin-bottom: 10px;
}

.btn {
    width: 100%;
}

.state_success {
    background-image: url(correcto.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.state_danger {
    background-image: url(incorrecto.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}


.contenedor_general {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 1s linear;
}

.texto_final {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: 'DS-Digital';
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 5px solid #ffffff96;
}

.texto_final h1 {
    font-size: 60px;
}

.texto_final h2 {
    font-size: 30px;
}


.aumentar_disminuir {
    transition: transform 0.3s ease-in-out;
    animation: aumentar_disminuir 1s linear infinite;
    filter: brightness(1);
}

@keyframes aumentar_disminuir {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.img-categoria {
    width: 20%;
    max-height: 110%;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
}

.btn-categoria {
    background-image: url(opcion.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin: 15px;
    height: 117px;
    padding: 25px;
    padding-left: 40px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DS-Digital';
    font-weight: bolder;
    font-size: 22px;
    line-height: normal;
}


.btn-categoria p{
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 1.5rem;
}

.btn-categoria:hover {
    transform: scale(1.05);
}

.btn_opcion {
    background-image: url(opcion.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    min-height: 100px;
    border: none;
    font-weight: bold;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    color: #424242;
    position: relative;
}

.btn_opcion:hover {
    transform: scale(1.05);
}

.respuesta_correcta {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.315);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15pt;
}

.respuesta_incorrecta {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.315);
    position: absolute;
    top: 0;
    left: 0;    
    border-radius: 15pt;
}


#perdio_gano {
    position: relative;
    top: 0px;
    left: 0px;
    width: 141px;
    height: 150px;
    z-index: -1;
    pointer-events: none;
    display: none;
    margin-bottom: 10px;
}