* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ahorcado';
  src: url('../completa/fuente/TitanOne-Regular.ttf') format('truetype');
}

body {
  font-family: 'Ahorcado' !important;
  background: url(fondo.png);
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
}

.main-container {
  max-width: 95%;
  margin: auto;
}

.titulo {
  text-align: center;
  font-size: 40px;
  text-shadow: 3px 3px 10px #000;
  width: 400px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 5%;
  font-weight: bold;
  font-family: inherit;
  color: white;
}

.subtitulo {
  text-align: center;
  font-size: 28px;
  width: 100%;
  margin: auto;
  font-family: inherit;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.09rem #000000;
}

h1#msg-final {
  text-align: center;
  color: crimson;
  transition: all .5s ease;
  transform: scale(0);
  min-height: 50px;
  margin-bottom: 0;
}

.zoom-in {
  transform: scale(1) !important;
}

#acierto {
  text-align: center;
  min-height: 24px;
  transform: scale(0);
}

.acierto {
  animation: zoomInOut 1s ease;
}

.rojo {
  color: red;
}

.verde {
  color: green;
}

@keyframes zoomInOut {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

h2.palabra {
  margin: 0 auto 25px auto;
  text-align: center;
  color: #4494d4;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: inherit;
  font-size: 50px;
  width: fit-content;
  padding: 5px;
  -webkit-text-stroke: 0.09rem #184970;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.col {
  width: 50%;
  text-align: center;
}

.col span {}

#turnos h3 {
  margin: auto;
}

h3 span {
  color: orangered;
}

.letra:disabled {
  background-image: url(img/ficha_gris.png);
}

picture {
  position: relative;
}

img {
  height: 225px;
}

#image5,
#image4,
#image3,
#image2,
#image1,
#image0 {
  transition: opacity .3s ease;
}

.fade-in {
  opacity: 1 !important;
}

.encuadre {
  border: 2px dashed crimson;
  padding: 3px 2px 2px 6px;
}

.letra {
  margin: 4px !important;
  padding: 9px !important;
  font-size: 27px;
  width: 50px;
  height: 50px;
  border: 0;
  background-image: url(img/ficha.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #f4eeef;
  cursor: pointer;
  text-shadow: -2px -2px 0px #55241a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background-color: transparent;
}

.letra:hover {
  transform: scale(1.05);
}


.nuevo-juego {
  cursor: pointer;
  background: linear-gradient(#94c4e4, #4494d4);
  padding: 9px;
  border-radius: 50px;
  border: white 5px solid;
  font-size: 107%;
  color: white !important;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.volver {
  cursor: pointer;
  background: linear-gradient(#eb3c63, #ee0d3e);
  padding: 9px;
  border-radius: 50px;
  border: white 5px solid;
  font-size: 107%;
  color: white !important;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.opciones {
  margin-top: 5px;
  width: 215pt;
  padding: 5px;
  background-image: url(img/menu.png);
  background-size: 100% 99%;
  background-repeat: no-repeat;
  overflow: visible;
  height: 215pt;
  padding-left: 60pt;
  padding-right: 60pt;
  padding-top: 48pt;
  font-size: 9pt;
}

.opciones button, .opciones a {
  margin-top: 10px;
  width: 100%;
  border: 3px solid white;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  -webkit-text-stroke: 0.04rem #432c29;
  font-size: 11pt;
}

.pista {
  margin-top: 0px;
  width: 59px;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  color: white;
}

.swal2-modal {
  width: 1100px !important
}

.swal2-html-container {
  overflow: hidden !important;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #7066e0;
  color: #fff;
  font-size: 1.4em !important;
  -webkit-text-stroke: 0.09rem #000000;
  width: 200px;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #6e7881;
  color: #fff;
  font-size: 1.7em !important;
  width: 200px;
}

.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: .8em 1em 0;
  color: inherit;
  font-size: 2.175em !important;
  font-weight: 100 !important;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: 4px solid white !important;
  border-radius: 41px !important;
  background: #2a090ede !important;
  font-family: inherit;
  color: white !important;
  font-size: 1rem;
}

.imagen_Vocal {
  background-image: url(img/categoria.png);
  background-size: 99% 100%;
  background-repeat: no-repeat;
  width: 95%;
  cursor: pointer;
  padding: 14px;
  height: 99pt !important;
  margin-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1.1rem;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  -webkit-text-stroke: 0.08em #381c0a;
}

.imagen_Vocal:hover {
  transform: scale(1.05);
}

.img-vocal {
  width: 25%;
  height: auto;
  filter: drop-shadow(0 0 1px #eb9d76) drop-shadow(0 0 1px #eb9d76);
}


.overlay {
  background-image: url(../assets/images/normal1.gif);
  background-size: 90% 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: fixed;
  left: -200px;
  /* Empieza fuera de la pantalla */
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.overlay::before {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../assets/images/normal1.gif") url("../assets/images/normal2.gif")
}

@keyframes moverDerecha {
  from {
    left: -100%;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes moverIzquierda {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: -100%;
    opacity: 0;
  }
}

.borde2 {
  -webkit-text-stroke: 0.09rem #000000;
  color: #fff !important;
  font-size: 19px;
}

#bienvenida {
  width: 55%;
  padding-left: 40pt;
  font-size: 17px !important;
  text-align: justify;
  line-height: 1.5;
}

.nube {
  background-image: url(../assets/images/nube.png);
  background-size: 100% 100%;
  width: 558pt;
  height: 456pt;
  position: absolute;
  z-index: 1000;
  bottom: -362pt;
  left: 422pt;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  animation-duration: 2.8s;
  animation-fill-mode: forwards;
}

@keyframes moverArriba {
  from {
    bottom: -362pt;
    opacity: 0;
  }

  to {
    bottom: 147pt;
    opacity: 1;
  }
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

@keyframes moverabajo {
  from {
    bottom: 147pt;
    opacity: 1;
  }

  to {
    bottom: -362pt;
    opacity: 0;
  }
}

.final {
  background-size: 45%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.904);
}

.imagen_Nivel {
  margin-top: 4rem;
  width: 100%;
  cursor: pointer;
  position: relative;
  height: 155pt;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 0.09rem #5a0916;
  transition: all 0.3s ease;
}

.imagen_Nivel:hover {
  transform: scale(1.05);
}

.img-nivel {
  width: 100%;
  height: 127%;
  position: absolute;
  top: -31%;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

#fondo_tabla_fichas {
  position: absolute;
  top: -21px;
  left: 0;
  width: 100%;
  height: 112%;
  z-index: -1;
  pointer-events: none;
}